<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="img-wrapper">
            <img src="static/img/likelion.png" alt="hello">
        </div>
        <div class="function">
            <span>지원하기</span>
            <span>커뮤니티</span>
            <button>로그인</button>
        </div>
    </header>
    <div class="blank"></div>
    <main>
        <img src="static/img/main.png" alt="hello2">

    </main>
</body>
</html>